<a href="https://gitlab.mediacube.at/{{ include.username }}" target="_blank"><span class="icon icon--gitlab">{% include icon-gitlab.svg %}</span><span class="username">{{ include.username }}</span></a>
